@media only screen and (max-width: 880px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 570px) {
    canvas {
        margin: 0 auto;
    }
}

@media only screen and (max-height: 495px) {
    canvas {
        height: 100vh;
    }
}