    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        height: 100vvh;
        width: 100vw;
        font-family: 'Skranji', cursive;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        overflow: hidden;
    }
    
     ::-webkit-scrollbar {
        height: 5px;
        width: 12px;
    }
    
     ::-webkit-scrollbar-track {
        background-color: #F8F5F2;
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: #dddddd;
    }
    
     ::-webkit-scrollbar-thumb:active {
        background-color: rgb(128, 128, 128);
    }
    
    .cursor-pointer {
        cursor: pointer;
    }
    
    .cursor-default {
        cursor: default;
    }
    
    .transi-125 {
        transition: 125ms;
    }
    
    .transi-75 {
        transition: 75ms;
    }
    
    .width100 {
        width: 100%;
    }
    
    .height100 {
        height: 100%;
    }
    
    canvas {
        z-index: 3;
        background: black;
        /* margin: 5% auto; */
        border-radius: 20px;
        height: 100%;
        width: 100%;
    }
    
    #intro {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    .introBG {
        background: rgb(147, 254, 255);
        background: linear-gradient(180deg, rgba(147, 254, 255, 1) 0%, rgba(109, 188, 220, 1) 42%, rgba(136, 247, 226, 1) 63%, rgba(237, 216, 127, 1) 77%, rgba(253, 231, 131, 1) 100%);
    }
    
    .introBlack {
        background: black;
    }
    
    #flag_container.biggerFlag {
        z-index: 3;
        transition: 2s ease-in-out;
        transform: scale(35) translateY(-9%);
    }
    
    .flag {
        max-width: 1200px;
        width: 100%;
    }
    
    #headline {
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 45px;
        text-align: center;
        text-shadow: 2px 2px 5px #fff;
        color: #222;
    }
    
    .clickme {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 55%;
        display: flex;
        justify-content: space-between;
    }
    
    .clickme img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
    
    #boat {
        z-index: 1;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 210px;
        transform: rotate(-30deg);
        animation: swim 3s infinite;
        transition: 0.5s;
        filter: drop-shadow(0px 0px 10px #222);
    }
    
    @keyframes swim {
        50% {
            transform: rotate(20deg);
        }
    }
    
    .help {
        z-index: 1;
        position: absolute;
        /* bottom: -550px; */
        bottom: 0px;
        left: 50%;
        right: 50%;
        margin-left: -400px;
        /* transform: translateX(-50%); */
        width: 800px;
        /* width: 100%; */
    }
    
    .helpdown {
        transform: translateY(600px);
        transition: 1s;
    }
    
    .helpup {
        transform: translateY(0px);
        transition: 1s;
    }
    
    .help_headline {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 2px 2px 5px #fff;
    }
    
    .helpimg {
        width: 800px;
        /* width: 100%; */
    }
    
    .life {
        position: absolute;
        top: 180px;
        left: 100px;
        text-shadow: 2px 2px 5px #fff;
    }
    
    .coin {
        position: absolute;
        top: 205px;
        left: 100px;
        text-shadow: 2px 2px 5px #fff;
    }
    
    .bomb {
        position: absolute;
        top: 230px;
        left: 100px;
        text-shadow: 2px 2px 5px #fff;
    }
    
    .help p {
        display: inline-block;
        height: 80px;
        width: 80px;
        border-radius: 10px;
        background: linear-gradient(180deg, #808080, #727272);
        box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 1.5px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
        /* overflow: hidden; */
        box-sizing: border-box;
    }
    
    .help p::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        bottom: 14px;
        right: 12px;
        background: linear-gradient(90deg, #757575, #9f9f9f);
        border-radius: 10px;
        box-shadow: -10px -10px -10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
        border-left: 1px solid #0004;
        border-bottom: 1px solid #0004;
        border-top: 1px solid #0004;
    }
    
    .help p i {
        position: relative;
        color: #fff;
        font-style: normal;
        text-transform: uppercase;
    }
    
    .help p u {
        text-decoration: none;
        font-size: 16px;
        text-shadow: 2px 2px 5px #fff;
    }
    
    .key1 {
        position: absolute;
        top: 470px;
        left: 160px;
        height: 8% !important;
        width: 8% !important;
        padding: 5px 12px;
        font-size: 15px;
    }
    
    .key2 {
        position: absolute;
        top: 550px;
        left: 160px;
        height: 8% !important;
        width: 9% !important;
        padding: 5px 14px;
        font-size: 15px;
    }
    
    .key3 {
        position: absolute;
        top: 550px;
        left: 275px;
        height: 8% !important;
        width: 20% !important;
        padding: 5px 45px;
        font-size: 15px;
    }
    
    .key4 {
        position: absolute;
        top: 525px;
        left: 498px;
        height: 8% !important;
        width: 7% !important;
        padding: 0px 20px;
        font-size: 40px;
    }
    
    .key5 {
        position: absolute;
        top: 525px;
        left: 568px;
        height: 8% !important;
        width: 7% !important;
        padding: 0px 20px;
        font-size: 40px;
    }
    
    .key6 {
        position: absolute;
        top: 465px;
        left: 295px;
        height: 8% !important;
        width: 7% !important;
        padding: 5px 14px;
        font-size: 20px;
    }
    
    .key7 {
        position: absolute;
        top: 455px;
        left: 465px;
        height: 8% !important;
        width: 9% !important;
        padding: 0px 14px;
        font-size: 30px;
    }
    
    .key8 {
        position: absolute;
        top: 165px;
        right: 60px;
        height: 8% !important;
        width: 7% !important;
        padding: 5px 14px;
        font-size: 20px;
    }
    
    .functionKey1 {
        position: absolute;
        top: 15px;
        left: -100px;
    }
    
    .functionKey2 {
        position: absolute;
        top: 15px;
        left: -55px;
    }
    
    .functionKey3 {
        position: absolute;
        top: 60px;
        transform: translate(-50%);
    }
    
    .functionKey4 {
        position: absolute;
        top: 60px;
        transform: translate(-50%);
    }
    
    .functionKey5 {
        position: absolute;
        top: 60px;
        transform: translate(-50%);
    }
    
    .functionKey6 {
        white-space: nowrap;
        position: absolute;
        top: 15px;
        left: 65px;
    }
    
    .functionKey7 {
        white-space: nowrap;
        position: absolute;
        top: 15px;
        left: 85px;
    }
    
    .functionKey8 {
        white-space: nowrap;
        position: absolute;
        top: 65px;
        left: 10px;
    }
    
    .grave {
        z-index: 4;
        height: 30%;
        top: 20%;
        left: 20%;
    }
    
    .yard {
        z-index: 4;
        height: 30%;
        top: 40%;
        left: 20%;
    }
    
    #winScreen {
        width: 350px;
        width: 50%;
        height: 31%;
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(-50%);
        /* display: flex; */
        /* display: none; */
        justify-content: center;
        align-items: center;
        /* background: aqua; */
    }
    /* #winScreen img {
        width: 350px;
    } */
    
    .winContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #winScreen span {
        background-color: #222;
        color: #dddddd;
        min-width: 120px;
        width: 30%;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;
        padding: 1% 0;
    }
    
    .winUntercontainer {
        width: 60%;
        display: flex;
        justify-content: space-around;
    }
    
    #loseScreen {
        width: 350px;
        width: 50%;
        height: 31%;
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(-50%);
        /* display: flex; */
        /* display: none; */
        justify-content: center;
        align-items: center;
        /* background: aqua; */
    }
    
    .firstimg {
        width: 400px;
    }
    
    .secoundimg {
        position: absolute;
        top: 45%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 200px;
    }
    
    .loseContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 300px;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #loseScreen span {
        background-color: #222;
        color: #dddddd;
        white-space: nowrap;
        min-width: 120px;
        width: 30%;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;
        padding: 1% 0;
    }
    
    .loseUntercontainer {
        width: 300px;
        display: flex;
        justify-content: center;
        /* justify-content: space-between; */
    }
    
    .topBar {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 1%;
        justify-content: end;
    }
    
    .bottumBar {
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 0;
        /* width: 100%; */
        right: 0;
        padding: 1%;
        /* height: 60px; */
        /* background: aqua; */
        /* display: flex; */
        justify-content: space-between;
    }
    
    .bottumBar span,
    .topBar span {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .topBar img,
    .bottumBar img {
        height: 90%;
        object-fit: contain;
    }
    
    .gap20 {
        gap: 20px;
    }
    
    .gap40 {
        gap: 40px;
    }
    
    #rotateDevice {
        z-index: 30;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        background: #F0D3A9;
        width: 80%;
        padding: 10px 5px;
        border: 2px solid black;
        border-radius: 20px;
        text-align: center;
    }